[access]
	inheritFrom = All-Projects
[project]
	description = My first Git repository
[access "refs/*"]
	owner = group user/ClapaCatalin
[access "refs/for/refs/*"]
	read = group user/ClapaCatalin
	push = group user/ClapaCatalin
	label-Code-Review = -2..+2 group user/ClapaCatalin
	label-Verified = -1..+1 group user/ClapaCatalin
	rebase = group user/ClapaCatalin
	removeReviewer = group user/ClapaCatalin
	submit = group user/ClapaCatalin
[access "refs/heads/*"]
	read = group user/ClapaCatalin
	create = group user/ClapaCatalin
	push = +force group user/ClapaCatalin
	pushMerge = group user/ClapaCatalin
[access "refs/tags/*"]
	push = group user/ClapaCatalin
	push = +force group user/ClapaCatalin
